@using System.Linq
@model IEnumerable<ClientsApp.ViewModels.ClientViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Client</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            <label asp-for="@Model.First().Name"></label>
        </th>
        <th>
            <label asp-for="@Model.First().Type"></label>
        </th>
        <th>
            <label asp-for="@Model.First().TIN"></label>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Type
            </td>
            <td>
                @item.TIN
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>